/*Add your css code here*/
body {
  text-align: center;
  font-family: Arial;
  background-color: teal;
  color: #ffffff;
  float: center;
}

#container {
  display: grid;
  position: relative;
  margin: 100px auto;
  /*grid-template-areas: "header header header header" "nav nav nav nav" "one two sidebar sidebar"
  "three four sidebar sidebar" "five six sidebar sidebar" "footer footer footer footer";*/
  grid-template: 50px 100px 700px 700px 50px / 25% 25% 25% 20% 20%;
  grid-gap: 10px;
}

header {
  grid-area: 1 / 1 / 1 / span 5;
}

nav {
  grid-area: 2 / 1 / span 1 / span 5;
}

ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

p {
  width: 220px;
  height: 300px;
  margin: auto;
  padding: auto;
  color: black;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.5px;
  padding-top: 30px;
}
p a {
  color: white;
}

.sidebar {
  grid-area: 3 / 4 / span 2 / span 2;
  background-color: cadetblue;
}
.sidebar a {
  color: white;
}

.one {
  grid-area: 3 / 1 / span 1 /span 1;
}

.two {
  grid-area: 3 / 2 / span 1 /span 1;
}

.three {
  grid-area: 3 / 3 / span 1 /span 1;;
}

.four {
  grid-area: 4 / 1 / span 1 /span 1;
}

.five {
  grid-area: 4 / 2 / span 1 /span 1;
}

.six {
  grid-area: 4 / 3 / span 1 /span 1;
}

footer {
  grid-area: 5 / 1 / span 1 /span 5;
  background-color: #db6363;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
}
